body {
    /* viewport height */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body>.container {
    flex-grow: 1;
}

.user-catalog .card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.user-details img,
.user-edit-form img {
    height: 200px;
    width: auto;
    object-fit: contain;
    border-radius: 10px;
    margin: 12px 0;
}

.image-block {
    text-align: center;
}

.image-block img {
    height: 200px;
    width: auto;
    object-fit: contain;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
}